{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block header %}
    {{ include('elements/menu/header_nav.html.twig') }}
    {{ include('elements/header/header_top.html.twig') }}
    {{ include('elements/header/header_video.html.twig') }}
{% endblock %}

{% block body %}
    {{ include('elements/home/repair-info.html.twig') }}
    {{ include('elements/blocks/why-we.html.twig') }}
    {{ include('elements/blocks/short-about.html.twig') }}

    {% if(video_gallery is defined and video_gallery is not empty) %}
        {{ include('elements/home/video-gallery.html.twig') }}
    {% endif %}

    {% if(works is defined and works is not empty) %}
        {{ include('elements/blocks/works-slider.html.twig') }}
    {% endif %}

    <div class="container-fluid sss">
        {# Models-submodels section #}
        {{ include('elements/blocks/models-section.html.twig') }}

        <div class="container">
            {# Content #}
            {{ page.text | raw }}

            {#<h2><a href="[[~218]]">Тюнинг БМВ:</a></h2>#}
            {# Services block #}

            {#[[-!pdoResources?
            &parents=`394`
            &depth=`0`
            &tpl=`catalogtunmod.tpl`
            &includeTVs=`img1`
            &showHidden=`0`
            &limit=`20`
            &sortdir=`ASC`
            ]]#}
        </div>
    </div>
    {{ include('elements/blocks/services-section.html.twig') }}

    {# Contacts #}
    {{ include('elements/footer/contacts.html.twig') }}

    {# Footer contact panel #}
    {{ include('elements/footer/footer-contact-panel.html.twig') }}

    {# Map #}
    {{ include('elements/footer/mapfast.html.twig') }}

    {# Footer #}
    {{ include('elements/footer/footer.html.twig') }}
{% endblock %}
