{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block header %}
    {{ include('elements/menu/header_nav.html.twig') }}
    {{ include('elements/header/header_top.html.twig') }}
    {{ include('elements/header/header_video.html.twig') }}
{% endblock %}

{% block body %}
    {{ include('elements/blocks/egg16.html.twig') }}
    <div class="container">
        <div class="col-md-12" style="padding-top: 30px">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h2 style="margin-top: 0;">Ремонт БМВ в Санкт-Петербурге</h2>
                    <p class="post1bmw">
                        Вы давно ищите высококачественный сервис, специализирующийся на автомашинах марки BMW? Тогда наша компания, это то, что вам нужно!
                    </p>
                    <p class="hidden-xs hidden-sm">
                        Мы осуществляем широкий спектр работ по обслуживанию и <b>ремонту машин баварского происхождения БМВ в Санкт – Петербурге.</b>
                        При входе к нам вас встретит команда высококвалифицированных работников, с многолетним стажем .
                        <b>Только БМВ</b> - Преимуществом нашего сервиса BMW, то что мы специализируемся на ремонт, диагностике и обслуживания одной марки - BMW.
                    </p>
                </div>
            </div>

            {{ include('elements/home/four-photo.html.twig') }}

            {{ include('elements/home/gallery.html.twig') }}

        </div>
    </div>



    <div class="container-fluid" style="background: #eee; margin-top: 30px; padding: 30px 0 30px 0;">
        {{ include('elements/home/video-gallery.html.twig') }}
    </div>


    <div class="container-fluid">
        <div class="container">

            <h2 class="imp">{{ page.name }}</h2>
            <p>Наша команда подробно показывает отчеты о ремонте автомобилей BMW:</p>
            {{ include('elements/blocks/works-slider.html.twig') }}
        </div>
    </div>
    <div class="container-fluid sss">
        {# Models-submodels section #}
        {{ include('elements/blocks/models-section.html.twig') }}

        <div class="container">
            {# Content #}
            {{ page.text | raw }}

            {#<h2><a href="[[~218]]">Тюнинг БМВ:</a></h2>#}
            {# Services block #}

            {#[[-!pdoResources?
            &parents=`394`
            &depth=`0`
            &tpl=`catalogtunmod.tpl`
            &includeTVs=`img1`
            &showHidden=`0`
            &limit=`20`
            &sortdir=`ASC`
            ]]#}
        </div>
    </div>
    {{ include('elements/blocks/services-section.html.twig') }}

    {# Contacts #}
    {{ include('elements/footer/contacts.html.twig') }}

    {# Footer contact panel #}
    {{ include('elements/footer/footer-contact-panel.html.twig') }}

    {# Map #}
    {{ include('elements/footer/mapfast.html.twig') }}

    {# Footer #}
    {{ include('elements/footer/footer.html.twig') }}
{% endblock %}
