<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link type="text/css" href="{{ asset('css/style.css') }}">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
            <!-- Fonts -->
            <link rel="preload" href="{{ asset('css/fonts/montserrat/Montserrat-SemiBold.woff') }}" as="font" type="font/woff" crossorigin />
            <link rel="preload" href="{{ asset('css/fonts/montserrat/Montserrat-Bold.woff') }}" as="font" type="font/woff" crossorigin />
            <link rel="preload" href="{{ asset('css/fonts/montserrat/Montserrat-Medium.woff') }}" as="font" type="font/woff" crossorigin />
            <link rel="preload" href="{{ asset('css/fonts/montserrat/Montserrat-Black.woff') }}" as="font" type="font/woff" crossorigin />
            <link rel="preload" href="{{ asset('css/fonts/montserrat/Montserrat-Regular.woff') }}" as="font" type="font/woff" crossorigin />
            <link rel="preload" href="{{ asset('css/fonts/montserrat/Montserrat-Light.woff') }}" as="font" type="font/woff" crossorigin />
            <link rel="preload" href="{{ asset('css/fonts/dinpro.otf') }}" as="font" type="font/opentype" crossorigin />
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;subset=cyrillic,cyrillic-ext,latin,latin-ext,vietnamese">
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&amp;display=swap" />
            <link rel="stylesheet" href="{{ asset('css/fonts/cambria/stylesheet.css') }}">
            <!-- Slick & Swiper -->
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
            <link rel="stylesheet" href="{{ asset('css/slick-theme.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
            <link rel="shortcut icon" type="image/png" href="{{ asset('favicon.png') }}" />
            <meta name="og:type" content="website" />
            <link type="text/css" rel="stylesheet" href="{{ asset('css/theme.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/slider3d.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        {% endblock %}
    </head>
    <body dark-scroll>
        <div class="lp">
    {% block header %}

    {% endblock %}
        {% block body %}

        {% endblock %}
    {% block javascriptsBottom %}
        <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
        <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="{{ asset('js/swiper-bundle.min.js') }}"></script>
        <script>
            var video_swiper = new Swiper('.swiper.slider-video-review', {
                speed: 400,
                slidesPerView: 1,
                spaceBetween: 37,
                loop: true,
                pagination: {
                    el: ".swiper-video-review-pagination",
                    type: "progressbar",
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpoints: {
                    420: {
                        slidesPerView: 2
                    },
                    767: {
                        slidesPerView: 3
                    },
                    992: {
                        slidesPerView: 4
                    },
                    1240: {
                        slidesPerView: 4
                    },
                    1530: {
                        slidesPerView: 4
                    },
                }
            });
            var check_swiper = new Swiper('.swiper.check-slider', {
                speed: 400,
                slidesPerView: 1,
                spaceBetween: 20,
                pagination: {
                    el: ".swiper-check-slider-pagination",
                    type: "progressbar",
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpoints: {
                    420: {
                        slidesPerView: 2
                    },
                    767: {
                        slidesPerView: 3
                    },
                    992: {
                        slidesPerView: 3
                    },
                    1240: {
                        slidesPerView: 3
                    },
                    1530: {
                        slidesPerView: 4
                    },
                }
            });



            $('.quiz-slider').slick({
                dots: true,
                speed: 300,
                slidesToShow: 4,
                rows:3,
                slidesToScroll:1,
                arrows:false,
                focusOnSelect:false,
                focusOnChange:false,
                centerMode:false,
                infinite: false,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: false,
                            focusOnSelect:false,
                            focusOnChange:false,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            focusOnSelect:false,
                            focusOnChange:false,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            focusOnSelect:false,
                            focusOnChange:false,
                            centerMode:false,
                            infinite: false,
                            slidesToScroll: 2
                        }
                    }
                ]
            });
            $('.quiz-intro-slider').slick({
                dots: false,
                speed: 300,
                slidesToShow: 3,
                //slide:'.quiz-thumbnail',
                rows:1,
                variableWidth: true,
                slidesToScroll:1,
                arrows:false,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows:true,
                            dots: false
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows:true,
                            dots: false
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows:true,
                            dots: false
                        }
                    }
                ]
            });

            $('.managers-slider').slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows:true,
                            dots: true
                        }
                    },
                ]
            });

            $('.cliente-reviews-slick1').slick({
                dots: false,
                autoplay: true,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows:true,
                            dots: true
                        }
                    },
                ]
            }).next();


            $('.cliente-reviews-slick2').slick({
                dots: false,
                autoplay: true,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows:true,
                            dots: true
                        }
                    },
                ]
            }).next();

            $('.cliente-reviews-slick3').slick({
                dots: false,
                autoplay: true,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows:true,
                            dots: true
                        }
                    },
                ]
            }).next();

            $('.cliente-reviews-slick4').slick({
                dots: false,
                autoplay: true,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows:true,
                            dots: true
                        }
                    },
                ]
            }).next();

            $('.cliente-reviews-slick5').slick({
                dots: false,
                autoplay: true,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows:true,
                            dots: true
                        }
                    },
                ]
            }).next();

        </script>
    {% endblock %}
        </div>
    </body>
</html>
