{% extends 'base.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}

{% block header %}
    {{ include('elements/menu/header_nav.html.twig') }}
    {{ include('elements/header/header_top.html.twig') }}
    {{ include('elements/header/header_video.html.twig') }}
{% endblock %}

{% block body %}
    <div> Breadcrumbs here </div>

    {# Title and page description #}
    <div>
        <h1>{{ page.h1 }}</h1>
        <p>{{ page.metaDescription }}</p>
    </div>

    <div>
        <h3>Выберите кузов вашего {{ page.model.name }}</h3>
        <div>
            <ul>
                {% for submodel in submodels %}
                <li>
                    <a href="/{{ submodel.path }}">{{ submodel.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {{ dump(page) }}

    {{ dump(submodels) }}
{% endblock %}
