{% extends 'base.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}

{% block header %}
    {{ include('elements/menu/header_nav.html.twig') }}
    {{ include('elements/header/header_top.html.twig') }}
    {{ include('elements/header/header_video.html.twig') }}
{% endblock %}

{% block body %}
    <div> Breadcrumbs here </div>

    {# Title and page description #}
    <div class="container">
        <div class="row">
            <div class="col-md-12 model-page__description">
            <h1 class="text-center">{{ page.h1 }}</h1>
            <p class="text-center">{{ page.metaDescription|raw }}</p>
            </div>
        </div>
    </div>
    {% if submodels is defined and submodels is not empty %}
        <div class="container">
        <div class="row">
            <div class="col-md-12 model-page__submoldels">
                <h3>Выберите кузов вашего {{ page.model.name }}</h3>
                <div>
                    <div class="submodels__block">
                        {% for submodel in submodels %}
                        <div class="submodels__block_item">
                            {% if submodel.image is defined %}
                            <img src="/images/submodels/{{ submodel.image }}" alt="{{ submodel.name }}">
                            {% endif %}
                            <a href="/{{ submodel.path }}">{{ submodel.name }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {{ include('elements/blocks/why-we.html.twig') }}
    {{ include('elements/blocks/short-about.html.twig') }}
    {% if(works is defined and works is not empty) %}
        {{ include('elements/blocks/works-slider.html.twig') }}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 model-page__content">
                {{ page.text|raw }}
            </div>
        </div>
    </div>
    {{ include('elements/forms/question-form.html.twig') }}

    {# Contacts #}
    {{ include('elements/footer/contacts.html.twig') }}

    {# Footer #}
    {{ include('elements/footer/footer.html.twig') }}

    {#{{ dump(page) }}

    {{ dump(submodels) }}#}
{% endblock %}
